# SPDX-License-Identifier: GPL-3.0-or-later
# Update checks (docs/UPDATES.md). Never bootc-fetch-apply-updates.timer: it reboots by itself.
[Unit]
Description=Nyra: check for system updates
Documentation=https://github.com/WaggSoftware/nyra-base/blob/main/docs/UPDATES.md

[Timer]
OnBootSec=15min
OnUnitInactiveSec=6h
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target
